<% @page_title = "Admin Users" %>

<% if !flash[:notice].blank? %>
	<p><%= flash[:notice] %></p>
<% end %>

<%= link_to("<< Back to Menu", {:controller => "access", :action => "index"}) %>
<h2>Admin Users</h2>

<div><%= pluralize(@admins.size, "Admin User") %> found</div>
<table>
	<tr>
		<th>First Name</td>
		<th>Last Name</th>
		<th>Email</th>
		<th>Username</th>
		<th>Admin Type</th>
		<th>Setting</th>
	</tr>
	<% @admins.each do |admin| %>
	<tr>
		<td><%= admin.f_name %></td>
		<td><%= admin.l_name %></td>
		<td><%= mail_to(admin.email) %></td>
		<td><%= admin.username %></td>
		<td><%= admin.admin_type %></td>
		<td>
			<%= link_to("Edit", {:action => "edit", :id => admin.id}) if admin.admin_type == "Super" %>
			<%= link_to("Delete", {:action => "delete", :id => admin.id}) if admin.admin_type == "Super" %>
			<%= link_to("New Admin", {:action => "new"}) if admin.admin_type == "Super" %>
		</td>
	</tr>
	<% end %>
</table>