<% @page_title = "Delete Category" %>

<%= link_to("<< Back to Menu", {:controller => "access", :action => "index"}) %><br>
<%= link_to("<< Back to Accessory Category ", :action => "index") %>
<h2>Delete Category</h2>
<%= form_for(:category, :url => {:action => "destroy", :id => @category.id}) do |f| %>
	<table>
		<tr>
			<p> Are you sure you want to delete this device <span style="font-size: 150%"><%= @category.name %></span></p>
			
		</tr>		
	</table>
	<%= submit_tag("Delete Device") %>
<% end %>